include gpstracker_menu





block content

	div(id="map-canvas" style="width:1400px;margin:auto; height:400px")
	
	div.panel(style=" position: relative;padding: 20px 40px 40px;display: block;background-color:white;;width:1400px;text-align: center;margin: 10px auto;")
		.panel-heading
			h3.panel-title GPSLOG
		.panel-body
		table.table.table-striped.table-hover.table-condensed
			thead
				tr
					//th _id 
					th deviceID
					th dateTime
					th longitude
					th latitude
					th speed
					th heading
					th altitude
					th satellite
					th eventID
			tbody
				each g in gpslog
					tr
					//td(style="text-align:left;vertical-align:middle") #{g._id} 
					td(style="text-align:left;vertical-align:middle") #{g.deviceID} 
					td(style="text-align:left;vertical-align:middle") 
						a(href="http://maps.google.com/maps?q=#{g.latitude},#{g.longitude}" target="_new")
							| #{g.dateTime} 
					td(style="text-align:left;vertical-align:middle") #{g.longitude} 
					td(style="text-align:left;vertical-align:middle") #{g.latitude} 
					td(style="text-align:left;vertical-align:middle") #{g.speed} 
					td(style="text-align:left;vertical-align:middle") #{g.heading} 
					td(style="text-align:left;vertical-align:middle") #{g.altitude} 
					td(style="text-align:left;vertical-align:middle") #{g.satellite} 
					td(style="text-align:left;vertical-align:middle") #{g.eventID} 

script.
	
	var marker = new google.maps.Marker({
		position: new google.maps.LatLng(48.192, 16.369),
		map: map,
		title: 'Hello World!'
	});
	
	
	var logCoordinates = [new google.maps.LatLng(48.192, 16.369),new google.maps.LatLng(48.182, 16.339),new google.maps.LatLng(48.092, 16.069),new google.maps.LatLng(48.192, 16.369)];

	/*for (g in logCoordinates){
		logCoordinates.push(new google.maps.LatLng(gpslog[g].latitude, gpslog[g].longitude));
	}*/

	var logPath = new google.maps.Polyline({
		path: logCoordinates,
		geodesic: true,
		strokeColor: '#FF0000',
		strokeOpacity: 1.0,
		strokeWeight: 2
		});

	logPath.setMap(map);
